<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3429544640-ij4kdea7t8bvdd8d4qgt5enupcurind2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3429544640-ij4kdea7t8bvdd8d4qgt5enupcurind2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>3429544640-22b17s4adkt89v5234qkb9g2jcts9eqf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD8xL1fJxNXqthhkTY8vrg97xSblSrU1PQ</string>
	<key>GCM_SENDER_ID</key>
	<string>3429544640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.santos.chefAlysson</string>
	<key>PROJECT_ID</key>
	<string>chefalysson</string>
	<key>STORAGE_BUCKET</key>
	<string>chefalysson.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3429544640:ios:81198a870203ec997f7325</string>
</dict>
</plist>